@CHARSET "ISO-8859-1";

#ht-panel {
	background-image: url("#{resource['imagens/hybrid-theory-cover.jpg']}");
}

#mt-panel {
	background-image: url("#{resource['imagens/meteora-cover.jpg']}");
}

#mtm-panel {
	background-image: url("#{resource['imagens/mtm-cover.jpg']}");
}

#ats-panel {
	background-image: url("#{resource['imagens/ats-cover.jpg']}");
}

#lt-panel {
	background-image: url("#{resource['imagens/lt-cover.jpg']}");
}

#thp-panel {
	background-image: url("#{resource['imagens/thp-cover.jpg']}");
}