@CHARSET "ISO-8859-1";

.videoLink:link {
	color: black;
	text-align: center;
	text-decoration: none;
}

.ui-panelgrid tr, .ui-panelgrid td, .ui-panelgrid {
	background: none;
	border-style: none !important;
	text-align: center;
	margin: 0 auto;
}

.ui-datagrid, .ui-datagrid-content, .ui-panel, .ui-panel-content {
	border-style: none !important;
	text-align: center;
	margin: 0 !important;
	padding: 0 !important;
}

.videoThumb {
	border-radius: 3px;
}