@CHARSET "ISO-8859-1";

#lpu15-panel {
	background-image: url("#{resource['imagens/lpu/lowres/lpu15.jpg']}");
	background-size: cover;
	background-position: center;
}

#lpu14-panel {
	background-image: url("#{resource['imagens/lpu/lowres/lpuxiv.png']}");
	background-size: cover;
	background-position: center;
}

#lpu13-panel {
	background-image: url("#{resource['imagens/lpu/lowres/lpuxiii.jpg']}");
	background-size: cover;
	background-position: center;
}

#lpu12-panel {
	background-image: url("#{resource['imagens/lpu/lowres/lpu12.jpg']}");
	background-size: cover;
	background-position: center;
}

#lpu11-panel {
	background-image: url("#{resource['imagens/lpu/lowres/lpu11.jpg']}");
	background-size: cover;
	background-position: center;
}

#decade-panel {
	background-image: url("#{resource['imagens/lpu/lowres/a-decade-underground.jpg']}");
	background-size: cover;
	background-position: center;
}

#sftu-panel {
	background-image: url("#{resource['imagens/lpu/lowres/songs-from-the-underground.jpg']}");
	background-size: cover;
	background-position: center;
}

#lpu10-panel {
	background-image: url("#{resource['imagens/lpu/lowres/lpux.jpg']}");
	background-size: cover;
	background-position: center;
}

#lpu9-panel {
	background-image: url("#{resource['imagens/lpu/lowres/lpu9.jpg']}");
	background-size: cover;
	background-position: center;
}

#lpu8-panel {
	background-image: url("#{resource['imagens/lpu/lowres/lpu8.jpg']}");
	background-size: cover;
	background-position: center;
}

#lpu7-panel {
	background-image: url("#{resource['imagens/lpu/lowres/lpu7.jpg']}");
	background-size: cover;
	background-position: center;
}

#lpu6-panel {
	background-image: url("#{resource['imagens/lpu/lowres/lpu6.jpg']}");
	background-size: cover;
	background-position: center;
}