@CHARSET "ISO-8859-1";

.botao.ht {
	background: white url("#{resource['imagens/hybrid-theory-cover.jpg']}") no-repeat top;
	background-size: 100%;
}

.botao.mt {
	background: white url("#{resource['imagens/meteora-cover.jpg']}") no-repeat top;
	background-size: 100%;
}

.botao.mtm {
	background: white url("#{resource['imagens/mtm-cover.jpg']}") no-repeat top;
	background-size: 100%;
}

.botao.ats {
	background: white url("#{resource['imagens/ats-cover.jpg']}") no-repeat top;
	background-size: 100%;
}

.botao.lt {
	background: white url("#{resource['imagens/lt-cover.jpg']}") no-repeat top;
	background-size: 100%;
}

.botao.thp {
	background: white url("#{resource['imagens/thp-cover.jpg']}") no-repeat top;
	background-size: 100%;
}

