@CHARSET "ISO-8859-1";

.ui-panelgrid tr, .ui-panelgrid td, .ui-panelgrid {
	background: none;
	border-style: none !important;
	text-align: center;
	margin: 0 auto;
}

.outputLabel {
	font-family: "Courier New", Courier, monospace;
	font-size: 25px;
	font-weight: bold;
	color: white;
}

.ui-panel {
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 0;
	overflow: auto;
	width: 99.4%;
	border-radius: 5px;
}

#ht-panel {
	background-image: url("#{resource['imagens/hybrid-theory-cover.jpg']}");
}

#mt-panel {
	background-image: url("#{resource['imagens/meteora-cover.jpg']}");
}

#mtm-panel {
	background-image: url("#{resource['imagens/mtm-cover.jpg']}");
}

#ats-panel {
	background-image: url("#{resource['imagens/ats-cover.jpg']}");
}

.ui-panel-content {
	background: rgb(0, 0, 0) !important;
	background: rgba(0, 0, 0, 0.6) !important;
	margin: 5px !important;
}

.ui-panel-title {
	font-family: "Courier New", Courier, monospace;
	font-size: 150%;
}

.ui-button.mus {
	width: auto;
	heigth: auto;
	background-repeat: no-repeat;
	font-size: 100%;
}

.ui-dialog-titlebar {
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.6);
}

.ui-dialog-content {
	overflow: hidden;
}

.textArea {
	resize: none;
	width: 100%;
	height: 100%;
	border-style: none;
	border-color: Transparent;
	overflow: auto;
	text-align: center;
}

.ui-dialog-titlebar-close {
	color: red;
}