@CHARSET "ISO-8859-1";

#titulo {
	text-align: center;	
}

section{
	display: block;
  	width: 1300px;
  	margin-left: auto;
  	margin-right: auto;
  	padding: 15px 0px 0px 0px;
}

article {
	color: white;
	font-family: "Courier New", Courier, monospace;
	border-style: solid;
	border-width: 1px;
	background: rgb(0, 0, 0);
  	background: rgba(0, 0, 0, 0.6);
  	margin:	0px 0px 15px 0px;
  	padding: 15px 0px 0px 0px;
  	width: auto;
	height: auto;
}

.botao {
	color: white;
	width: 400px;
	height: 200px;
	padding-top: 150px;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	font-size: 200%;
	text-shadow: 2px 2px black;
	border: 1px solid;
	border-radius: 15px;
}

.panel {
	width: 60%;
	margin-left: auto;
  	margin-right: auto;
  	text-align: center;
  	padding: 0px 0px 25px 0px;
}

colstyle {
	width: 60%;
}