@CHARSET "ISO-8859-1";

article {	
	color: white;
	font-family: "Courier New", Courier, monospace;
	border-style: solid;
	border-width: 1px;
}

#redes-section{
	display: block;
	background: rgb(0, 0, 0);
  	background: rgba(0, 0, 0, 0.8);
  	width: 50%;
  	margin-left: auto;
  	margin-right: auto;  	
}

#texto-facebook{
	text-align: center;
	padding: 0px 0px 0px 0px;
	font-size: 80%;
}

#titulo-facebook {
	text-align: left;
	position: relative;
	bottom: 0;
	padding: 25px 5px 0px 0px;
	display: inline-block;
	font-size: 100%;
}

#img-facebook{
	width: 3%;
	height: 3%;
	display: inline-block;
	padding: 25px 5px 0px 10px;
}