@CHARSET "ISO-8859-1";

#altnc-panel {
	background-image: url("#{resource['imagens/remixes/highres/a-light-that-never-comes.jpg']}");
	background-size: cover;
	background-position: center;
	padding-top: 70px;
	padding-bottom: 70px;
}

#recharged-panel {
	background-image: url("#{resource['imagens/remixes/highres/recharged.jpg']}");
	background-size: cover;
	background-position: center;
}

#bit-panel {
	background-image: url("#{resource['imagens/remixes/highres/8bit-rebellion.jpg']}");
	background-size: cover;
	background-position: center;
	padding-top: 300px;
	padding-bottom: 300px;
}