@CHARSET "ISO-8859-1";

.ui-panelgrid, h3, h2, p, .ui-outputlabel {
	font-family: "Courier New", Courier, monospace;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.formPanelGrid .ui-grid-row > .ui-panelgrid-cell {
	background: none !important;	
	border: 1px solid rgb(175,175,175) !important;
}

.indexButton {
	font-family: "Courier New", Courier, monospace;
}

.ui-button {	
	text-align: center !important;
	margin-left: auto !important;
	margin-right: auto !important;
	margin-top: 20px;
}

.button-enviar {
	font-family: "Courier New", Courier, monospace;
	font-size: 25px;
}

.buttondiv {
	text-align: center;
}

.formulario {
	max-width: 740px;
	align: center;
	margin: auto;
}

@media all and (max-width: 600px) {
	.formPanelGrid .ui-grid-row > .ui-panelgrid-cell {
		background: none !important;
		border: none !important;
	}
}