@CHARSET "ISO-8859-1";

#fm-panel {
	background-image: url("#{resource['imagens/singles/highres/final-masquerade.jpg']}");
	background-size: cover;
	padding-top: 280px;
	padding-bottom: 280px;
}

#reb-panel {
	background-image: url("#{resource['imagens/singles/highres/rebellion.jpg']}");
	background-size: cover;
	padding-top: 280px;
	padding-bottom: 280px;
}

#was-panel {
	background-image: url("#{resource['imagens/singles/highres/wastelands.jpg']}");
	background-size: cover;
	padding-top: 280px;
	padding-bottom: 280px;
}

#uig-panel {
	background-image: url("#{resource['imagens/singles/highres/until-its-gone.png']}");
	background-size: cover;
	padding-top: 280px;
	padding-bottom: 280px;
}

#gats-panel {
	background-image: url("#{resource['imagens/singles/highres/guilty-all-the-same.jpg']}");
	background-size: cover;
	padding-top: 280px;
	padding-bottom: 280px;
}

#altnc-panel {
	background-image: url("#{resource['imagens/singles/highres/a-light-that-never-comes.jpg']}");
	background-size: cover;
	padding-top: 280px;
	padding-bottom: 280px;
}

#cog-panel {
	background-image: url("#{resource['imagens/singles/highres/castle-of-glass.jpg']}");
	background-size: cover;
	padding-top: 280px;
	padding-bottom: 280px;
}

#power-panel {
	background-image: url("#{resource['imagens/singles/highres/powerless.jpeg']}");
	background-size: cover;
	padding-top: 280px;
	padding-bottom: 280px;
}

#lite-panel {
	background-image: url("#{resource['imagens/singles/highres/lost-in-the-echo.jpg']}");
	background-size: cover;
	padding-top: 280px;
	padding-bottom: 280px;
}

#bid-panel {
	background-image: url("#{resource['imagens/singles/highres/burn-it-down.jpg']}");
	background-size: cover;
	padding-top: 280px;
	padding-bottom: 280px;
}

#irid-panel {
	background-image: url("#{resource['imagens/singles/highres/iridescent.jpg']}");
	background-size: cover;
	padding-top: 280px;
	padding-bottom: 280px;
}

#dt-panel {
	background-image: url("#{resource['imagens/singles/highres/download-tsunami.jpg']}");
	background-size: cover;
	padding-top: 280px;
	padding-bottom: 280px;
}

#bits-panel {
	background-image: url("#{resource['imagens/singles/highres/burning-in-the-skies.jpg']}");
	background-size: cover;
	padding-top: 280px;
	padding-bottom: 200px;
}

#wfte-panel {
	background-image: url("#{resource['imagens/singles/highres/waiting-for-the-end.jpg']}");
	background-size: cover;
	padding-top: 280px;
	padding-bottom: 280px;
}

#tc-panel {
	background-image: url("#{resource['imagens/singles/highres/the-catalyst.png']}");
	background-size: cover;
	padding-top: 280px;
	padding-bottom: 280px;
}

#dh-panel {
	background-image: url("#{resource['imagens/singles/highres/download-haiti.jpg']}");
	background-size: cover;
	padding-top: 300px;
	padding-bottom: 330px;
}

#nd-panel {
	background-image: url("#{resource['imagens/singles/highres/new-divide.jpg']}");
	background-size: cover;
	padding-top: 250px;
	padding-bottom: 250px;
}

#loatr-panel {
	background-image: url("#{resource['imagens/singles/highres/leave-out-all-the-rest.jpg']}");
	background-size: cover;
	padding-top: 150px;
	padding-bottom: 150px;
}

#gu-panel {
	background-image: url("#{resource['imagens/singles/highres/given-up.jpg']}");
	background-size: cover;
	padding-top: 200px;
	padding-bottom: 200px;
}

#sotd-panel {
	background-image: url("#{resource['imagens/singles/highres/shadow-of-the-day.jpg']}");
	background-size: cover;
	padding-top: 200px;
	padding-bottom: 200px;
}

#bio-panel {
	background-image: url("#{resource['imagens/singles/highres/bleed-it-out.jpg']}");
	background-size: cover;
	padding-top: 200px;
	padding-bottom: 200px;
}