@CHARSET "ISO-8859-1";

#titulo {
	font-size: 200%;
	text-align:center;
}

p {
	padding: 0px 25px 0px 25px;
	font-size: 125%;
	align: center;
	text-align: center;
}

#rodape1 {
	color: red;
	margin-top: 30px;
	font-size: 80%;
	width: 70%;
}

#img-ev-logo {
	align: center;
	width: 60%
}

#sobre-article {	
	color: white;
	font-family: "Courier New", Courier, monospace;
  	margin:	0px 0px 15px 0px;
  	padding: 15px 0px 0px 0px;
}

@media all and (max-width: 600px) {
	p {
		font-size: 100%;
	}
	
	#img-ev-logo {
		width: 90%
	}
}