@CHARSET "ISO-8859-1";

#titulo {
	font-size: 200%;
	text-align:center;
}

p {
	text-indent: 3em;
	padding: 0px 25px 0px 25px;
	font-size: 125%;
}

#rodape1 {
	color: red;
	font-size: 80%;
	width: 30%;
	
}

#img-ev-logo {
	align: center;
	width: 60%
}

#sobre-article {	
	color: white;
	font-family: "Courier New", Courier, monospace;
	border-style: solid;
	border-width: 1px;
	background: rgb(0, 0, 0);
  	background: rgba(0, 0, 0, 0.8);
  	margin:	0px 0px 15px 0px;
  	padding: 15px 0px 0px 0px;
}