@CHARSET "ISO-8859-1";

.body-section {
	display: block;
	max-width: 1200px;
	width: 90%;
	margin: auto;
	color: white;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	background: rgb(0, 0, 0);
  	background: rgba(0, 0, 0, 0.8);
  	margin: 15px auto;
}

pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

body {
	background-image: url("#{resource['imagens/background.jpg']}");
	background-repeat: repeat;
	padding: 15px 0px 0px 0px;
}

#container-header {
	display: block;
	color: white;
	max-width: 1200px;
	width: 90%;
	margin: auto;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.6);
}

.button {
	font-family: "Courier New", Courier, monospace;
	font-size: 17px;
	min-width: 100px;
	color: black;
	background: #ECECEC;
	border: 1px solid !important;
	text-align: center !important;
	margin: auto;
	border-radius: 10px;
}

.template-form {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	width: 100%;
}

a:hover {
	color: blue;
}

#container-nav {
	border-style: solid;
	border-width: 1px;
	font-family: "Courier New", Courier, monospace;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.6);
}

.img-banner {
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.videoThumb {
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#container-footer {
	display: block;
	max-width: 1200px;
	width: 90%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid white;
	color: white;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.6);
	margin-top: 15px;
}

.ui-panelgrid tr, .ui-panelgrid td, .ui-panelgrid {
	background: none !important;
	border-style: none !important;
	text-align: center !important;
	margin: 0 auto !important;
}

.footerLink {
	font-size: 20px;
	border-radius: 5px;
	background: white;
	padding-left: 30px;
	padding-right: 30px;
}

.footerLabel {
	color: white;
	font-family: "Courier New", Courier, monospace;
}

#mobile-nav {
	display: none;
	position: relative;
}

.ui-menubutton .ui-button {
	text-align: center !important;
	margin-top: 5px !important;
	margin-bottom: 5px !important;
	margin-left: 5px !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
	background: white !important;
	width: 90% !important;
}

.ui-menuitem-text, .ui-menubutton .ui-button-text {
	font-family: "Courier New", Courier, monospace !important;
	font-weight: bold !important;
	margin: 0 auto !important;
}

.ui-menu .ui-menuitem, .ui-menu .ui-menu-list {
	background: white !important;
}

@media all and (max-width: 789px) {
	#mobile-nav {
		display: block;
	}
	.mobile-form {
		position: absolute;
		padding: 0;
		margin: 0;
		left: 0;
		bottom: 1px;
	}
	#default-nav {
		display: none;
	}
	#container-header, #container-footer, .body-section {
		width: 100%;
	}
	body {
		padding: 0;
		background-image: url("#{resource['imagens/background320.jpg']}");
	}
}