@CHARSET "ISO-8859-1";

body {
	background-image: url("#{resource['imagens/background.jpg']}");
	background-repeat: repeat;
	padding: 15px 0px 0px 0px;
}

#container-header {
	display: block;
	color: white;
	width: 1300px;
	margin-left: auto;
  	margin-right: auto;
  	background: rgb(0, 0, 0);
  	background: rgba(0, 0, 0, 0.6);
}

.button {
	font-family: "Courier New", Courier, monospace;
	color: black;
	background: #ECECEC;
	border: 1px solid !important;
	text-align: center !important;
	margin: 10px 50px 10px 50px;
	border-radius: 15px;
}

a:link, a:visited {
	text-decoration: none;
	color: white;
}

a:hover {
    color: hotpink;
}

#container-nav {
	border-style: solid;
	border-width: 1px;
	font-family: "Courier New", Courier, monospace;
	background: rgb(0, 0, 0);
  	background: rgba(0, 0, 0, 0.6);
}

img {
	display: block;
	width: 100%;
	margin-left: auto;
  	margin-right: auto;
}

#container-footer{
	width: 200px;
	height: 100%;
	margin-left: auto;
  	margin-right: auto;
}

#div-footer{
	display: block;
	width: 100%;
	height: 80%;
	color: white;
	margin: 15px 0px 0px 0px;
}