@CHARSET "ISO-8859-1";

#titulo {
	text-align: center;
}

.ui-tabs .ui-tabs-nav {
	font-family: "Courier New", Courier, monospace !important;
}

.leg-article {
	color: white;
	font-family: "Courier New", Courier, monospace;
	background: none !important;
	padding: 10px 0px 0px 0px;
}

.panelGridContainer {
	width: 100%;
}

.panelGridContainer .ui-widget-content {
	background: transparent !important;
	border: none !important;
}

.videoGrid {
	background: transparent !important;
	width: 100%;
}

.ui-tabs {
	background: none !important;
	border: none !important;
	margin-top: -15px;
	padding-top: 15px;
}

.ui-tabs-panels .ui-tabs-panel {
	margin: 0 auto !important;
	padding: 0 auto !important;
	background: none !important;
}

.ui-tabs-selected {
	background: LightBlue !important;
}

.ui-tabs.ui-tabs-left > .ui-tabs-nav {
	border-radius: 15px !important;
	background: none !important;
}

.panelGrid {
	width: 100% !important;
}

.panel, .ui-panel-content {
	background: transparent !important;
	border-style: none !important;
	text-align: center;
	margin: 0 !important;
	padding: 0 !important;
}

 .mobileNome {
 	display: none;
 	color: white;
	font-family: "Courier New", Courier, monospace;
	text-decoration: none !important;
	font-weight: bold;
	text-shadow: 2px 2px black;
 }

.nomeLink {
	color: white;
	font-family: "Courier New", Courier, monospace;
	font-size: calc(40% + 1vw) !important;
	font-weight: bold;
	text-shadow: 2px 2px 2px black;
	margin: 0 auto !important;
	padding: 0 !important;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width:100%;
	
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	visibility: hidden;
}

.linkImg {
	border-radius: 15px;
	display: block;
	width: 100%;
	margin-left: auto;
  	margin-right: auto;
}

.linkPanel {
	position: relative;
	width: 100%;
	background: none !important;
	border: none !important;
}

a {
	margin: none !important;
	text-decoration: none;
}

a:hover>label {
	visibility: visible;
	opacity: 1;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.7);
}

@media all and (max-width: 600px) {
	.mobileNome {
		display: block;
		font-size: 100%;
	}
	
	
}

@media all and (max-width: 612px) {
	.ui-tabs .ui-tabs-nav {
		font-size: 15px !important;
	}	
}

@media all and (max-width: 800px) { 
	.nomeLink {
		visibility: visible;
		opacity: 1;
		font-size: 18px !important;
	}
	
}